
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    height: calc(100vh);
}

header nav {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

header nav ul a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 70%;
    margin: 0 auto;
}

main h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

main img {
    border: 3px #3882F6 solid;
    border-radius: 15px;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

footer p {
    color: #F9FAF8;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.blog-item p {
    text-align: center;
    font-size: 1.125rem;
    width: 70%;
}

.inspiring-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    width: 50%;
    padding: 70px 50px 0 50px;
    font-size: 2.25rem;
    font-style: italic;
    color: #1F2937;
}

.author {
    width: 50%;
    padding: 20px 50px 70px 50px;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    color: #1F2937;
}


.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 30px;
    background-color: #3882F6;
    border-radius: 20px;
}

.call-to-action h4 {
    font-size: 1.5rem;
}

.call-to-action p {
    font-size: 1.125rem;
}

.action-card {
    color: #F9FAF8;
}

.action-button {
    background-color: #3882F6;
    border: 1px #F9FAF8 solid;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 15px;
    color: #F9FAF8;
    font-size: 1.125rem;
}

#header-logo {
    font-size: 2rem;
    color: #F9FAF8;
}

#header-button {
    background-color: #3882F6;
    border: 1px #3882F6 solid;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 15px;
    color: #F9FAF8;
    font-size: 1.125rem;
}

#header-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

#header-info > div {
    flex: 1;
}

#header-info h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #F9FAF8
}

#header-info p {
    font-size: 1.125rem;
    color: #E5E7EB;
    margin-right: 30px;
    line-height: 1.6rem;
}

#header-image {
    width: 100%;
    height: auto;
    background-color: #1F2937;
    padding: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 480px) {
    #header-logo {
        margin-bottom: 20px;
    }

    header nav {
        width: 80%;
    }

    #header-info {
        width: 80%;
    }

    #header-info > div {
        display: flex;
        flex-direction: column;
    }

    #header-info h2 {
        margin-bottom: 40px;
    }

    #header-info p {
        font-size: 1.5rem;
    }

    #header-button {
        margin-top: 100px;
        padding: 15px 30px;
        font-size: 1.5rem;
        color: #F9FAF8;
        width: 150px;
        align-self: center;
    }

    #header-info > div:nth-child(2) {
        display: none;
    }

    main h3 {
        text-align: center;
    }


    .blog-item {
        margin-bottom: 30px;
    }

    .quote {
        width: 80%;
        font-size: 1.5rem;
    }

    .author {
        font-size: 1.5rem;
    }

    .call-to-action {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

}
 